body {
  font: caption;
}

.item {
  background: none;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.item:nth-child(even) {
  background: #f4f4ff;
}

.item:hover {
  background: #d8d8d8
}

.columns{
  text-align: center;
}
.display-flex{
  display: flex;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th {
    color: #b95913;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
}
td {
    color: #737b79;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

.selected-data-container{
  height: 500px;
  overflow: auto;
}
.selected-table-data-container{
  height: 240px;
  overflow: auto;
}

.config-contanier{
    padding: 15px;
    border: 1px solid #e1e4e3;
    height: 180px;

}
.table-container{
    padding: 15px;
    border: 1px solid #e1e4e3;
    overflow: auto;

}
.custom-label{
  font-size: 12px;
    font-weight: 600;
    color: #a6b5b0;
}

.fetch-table-container{
    top: 50px;
    width: 95%;
    height: 120px;
    background: antiquewhite;
    position: absolute;
    text-align: center;
}
.fetch-table-btn{
    top: 40%;
    position: absolute;
    left: 40%;
}
.fetch-Anaplan-container{
    top: 50px;
    width: 95%;
    height: 120px;
    background: antiquewhite;
    position: absolute;
    text-align: center;
}
.preview-data{
    top: 50px;
    width: 97%;
    height: 200px;
    background: antiquewhite;
    position: absolute;
    text-align: center;
}
.preview-data > div{
    font-size: 15px;
    font-weight: 600;
    top: 40%;
    position: absolute;
    left: 40%;
    color: #b95913;

}
.fetch-Anaplan-btn{
    top: 40%;
    position: absolute;
    left: 40%;
}
.margin-0{
  margin: 0px;
}
.margin-top-12{
  margin-top: 12px;
}
.custom-heading{
    margin: 10px 0px;
    color: #b95913;
    font-weight: 600;
    font-size: 15px;
}
input[type="text"]
{
    font-size:14px;
    color: #737b79;

}
.submit-config-btn{
  padding-top: 10px;
  text-align: center;
}
.custom-button{
    color: white;
    height: 30px;
    border: none;
    font-size: 15px;
    background-color: #b1500a;
    width: 110px;
}
.width-100{
  width: 100%;
}

.app-heading{
    color: #695d54;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}
.create-task-btn{
    color: white;
    height: 40px;
    border: none;
    font-size: 15px;
    background-color: #e2711f;
    width: 120px;
}

.import-task-btn{
    color: white;
    border: none;
    background-color: #e2711f;
    width: 120px;
    font-size: 15px;
    height: 35px;
    cursor: pointer;
}
.import-task-btn:hover{
    background-color: #b45c1d;
}
.create-task-btn:hover{
    background-color: #b45c1d;
}
.create-task-btn:focus{
    background-color: #b45c1d;
}
.loader-container{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #19212f12;
}
.loader {
  position: absolute;
   top: 39%;
   left: 47%;
  border: 14px solid #fff;
  border-radius: 50%;
  border-top: 14px solid #b95913;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.action-buttons-container{
  text-align: right;
  padding: 15px;
}
.margin-r-15{
margin-right: 15px;  
}